TO DO: DISPLAY RECIPE.ID details !


<form action="/recipes/<%=recipe.id%>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" name="Delete" value="Delete">


</form>
